<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

       <dubbo:application name="cloudplatform"  />
       <!--配置服务注册中心-->
       <dubbo:registry protocol="zookeeper" address="192.168.1.176:2181" />
       <!--<dubbo:registry address="zookeeper://192.168.1.176:2181" />-->

       <dubbo:protocol name="dubbo" port="20880" />

       <!-- 声明需要暴露的服务接口 -->
       <dubbo:service interface="com.xinguoren.coolpen.cloud.web.service.api.BlogService" ref="blogService" />
       <!-- 和本地bean一样实现服务 -->
       <bean id="blogService" class="com.xinguoren.coolpen.cloud.web.service.api.impl.BlogServiceImpl" />

</beans>