<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd ">


       <context:component-scan base-package="com.**.controller"/>
       <mvc:resources location="/WEB-INF/resources/css/" mapping="/css/**"/>
       <mvc:resources location="/WEB-INF/resources/js/" mapping="/js/**"/>
       <mvc:annotation-driven>
              <mvc:message-converters register-defaults="true">
                     <!-- 使用springMVC返回json数据时，最好先把Pojo对象转换成json格式的字符串，然后返回 -->
                     <!--从请求和响应  读取/编写  json数据（响应数据时可以将Pojo对象转换成Json,请求数据时可以将json转换成pojo？）  支持的类型：application/json -->
                     <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                            <property name="supportedMediaTypes">
                                   <list>
                                          <value>application/json;charset=UTF-8</value>
                                   </list>
                            </property>
                     </bean>

                     <!--从请求和响应  读取/编写  字符串数据（响应数据时可以将Pojo对象转换成Json，只是在IE下可能会当成应用程序来下载json文件）  支持的类型：text/*-->
                     <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                            <property name="supportedMediaTypes">
                                   <list>
                                          <value>text/plain;charset=UTF-8</value>
                                          <value>text/html;charset=UTF-8</value>
                                   </list>
                            </property>
                     </bean>
              </mvc:message-converters>
       </mvc:annotation-driven>
       <!-- 视图解释类 -->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/"  p:suffix=".jsp"/>
       <!-- 文件上传支持 -->
       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

</beans>